
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* Light Blue */
    --foreground: 210 10% 23%;

    --card: 210 40% 100%;
    --card-foreground: 210 10% 23%;
 
    --popover: 210 40% 100%;
    --popover-foreground: 210 10% 23%;
 
    --primary: 210 49% 60%; /* Muted Blue: #6699CC */
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 92%;
    --secondary-foreground: 210 10% 23%;
 
    --muted: 210 40% 92%;
    --muted-foreground: 210 4% 46%;
 
    --accent: 257 57% 64%; /* Soft Violet: #9370DB */
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 30% 87%;
    --input: 210 30% 87%;
    --ring: 210 49% 60%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 20% 12%;
    --foreground: 210 40% 98%;
 
    --card: 210 20% 14%;
    --card-foreground: 210 40% 98%;
 
    --popover: 210 20% 12%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 49% 60%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 20% 20%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 210 20% 20%;
    --muted-foreground: 210 4% 65%;
 
    --accent: 257 57% 64%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 210 49% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
